<style>

</style>
<script>
var form = $("#formA");
var allInput = form.querySelectorAll(".form-input");

var lin = $("#batme");
lin.onclick = function(){
	show($("#madona"));
}
blurer( allInput );

submiter( form , function(result){
  $(".active").click();
});
</script>
<div align="left"style="position:relative;z-index:5;">
	<button class="button"id="batme"> <add>+</add> Add New Transaction</button>

	<div id="madona">
	<form class="loginForm"method="POST"action="@routes.Application.saveTransaction()"id="formA">
    <div class="maxers"id="myScroll">
	 <div class="form-group">
      	<span></span>
        <input type="text" class="form-input" name="fromu"  id="F_Text"/>
        <label for="F_Text" class="animated-label">Fromu</label>
      </div>
<br/>
	 <div class="form-group">
      	<span></span>
        <input type="number" class="form-input" name="amount"  id="P_Text"/>
        <label for="P_Text" class="animated-label">Enter Amount</label>
      </div>
<br/>
	 <div class="form-group">
      	<span></span>
        <input type="text" class="form-input" name="motif"  id="M_Text"/>
        <label for="M_Text" class="animated-label">Enter Motif</label>
      </div>
<br/>
	 <div class="form-group">
      	<span></span>
        <select class="form-input" name="done"  id="W_Text"/>
        	<option value=""></option>
        		@for( i <- Users.allM() ){
        		    <option value="@i.id">@i.username @i.firstName</option>
        	  }
    	</select>
        <label for="W_Text" class="animated-label">Done By</label>
      </div>
      <br/>
   <div class="form-group">
        <span></span>
        <select class="form-input" name="receipt_category"  id="PX_Text"onchange="changer(this)"/>
            <option value=""></option>
            <option value="nature">VAT nature</option>
            <option value="none">N/A Transaction</option>
        </select>
        <label for="PX_Text" class="animated-label">Receipt category</label>
      </div>
   <div class="form-group"id="exempted">
        <span></span>
        <select class="form-input" name="vat_category"  id="PXP_Text"/>
          <option value=""></option>
            <option value="included">VAT included</option>
            <option value="excluded">VAT excluded</option>
            <option value="exempted">VAT exempted</option>
      </select>
        <label for="PXP_Text" class="animated-label">VAT nature category</label>
      </div>
      <br/>
    <div class="form-group">
        <span></span>
        <select class="form-input" name="mode"  id="J_Text"onchange="changing(this)"/>
          <option value=""></option>
            <option value="cash">Cash</option>
            <option value="check">Check</option>
            <option value="other">Other</option>
      </select>
        <label for="J_Text" class="animated-label">Choose payment mode</label>
    </div>
    <br/>
    <div class="form-group"id="other_info"style="display:none;">
        <span></span>
        <textarea class="form-input" name="other"id="JP_Text"style="height:50px;"></textarea>
        <label for="JP_Text" class="animated-label">Add Other payment info</label>
    </div>
    <br/>
	 <div class="form-group">
      	<span></span>
        <input type="date" class="form-input" name="date"  id="Da_Text"onfocus="this.value= new Date();"/>
        <label for="Da_Text" class="animated-label">Date</label>
      </div>
  <div id="buttonHandle">
  <a href="#"id="moreX"onclick="hide($('#madona'))">Close This Form!?</a><input type="submit"name="first"value="Register"id="meBut"/>
      </div>

</div>
</form>
</div>


</div>

<div id="table">

<div id="tableHeader">Cash in</div>

<div id="tableContent">

<table>

<thead>
<td>From</td>
<td>Amount</td>
<td>Payment_Mode</td>
<td>Motif</td>
<td>Receipt_number</td>
<td>Done by</td>
<td style="width:90px;">Date</td>
<td>Print</td>
<td>Modify</td>
<td>Delete</td>
</thead>

<tbody>

@for( i <- Cashin.all() ){
<tr>
<td>@i.fromu</td>
<td>@Cashin.asString(i.amount)</td>
<td>@i.mode</td>
<td>@i.motif</td>
<td>@i.receipt</td>
<td>@i.doneby.username @i.doneby.firstName</td>
<td>@i.date</td>
<td><a href="@routes.Application.receipt(i.id)"id="minute">print receipt</a></td>

<td><button id="delete"onclick="deleter(this);"value="@routes.Application.delete(i.id,"cashin")"></button></td>
<td><button id="update"onclick="update(this)"value="@routes.Application.update(i.id,"cashin")"></button></td>

</tr>

}


</tbody>


</table>

</div>

</div>