<style>

</style>
<script>
var form = $("#formA");
var allInput = form.querySelectorAll(".form-input");

var lin = $("#batme");
lin.onclick = function(){
	show($("#madona"));
}
</script>

<div id="table">

<div id="tableHeader">Cash in</div>

<div id="tableContent">

<table>

<thead>
<td>From</td>
<td>Amount</td>
<td>Motif</td>
<td>Approved by</td>
<td>Date</td>
</thead>

<tbody>

@import scala.Predef; var x = 0;var p = 0;

@for( i <- Cashin.all()){

@( x += i.amount )
<tr>
	<td>@i.fromu</td>
	<td>@Cashin.asString(i.amount)</td>
	<td>@i.motif</td>
  <td>@i.doneby.username @i.doneby.firstName</td>
  <td>@i.date</td>
</tr>
}

<tr class="total">
<td><b>TOTAL</b></td>
<td><b>@x</b></td>
<td colspan="3"style="text-align:right !important;"><button class="button">Print</button></td>
</tr>

</tbody>


</table>

</div>

</div>