@(user: Users)



<div id="dataBox">


<div class="navBox">
  <div>
for( i <- Tasks.all() ){
 
}
</div>
</div>

<div id="myData">


</div>

</div>

<style>
#dataBox{height:500px;border:1px solid #ddd;margin:10px 0;position:relative;}
.navBox{position:absolute;left:0;height:100%;width:26%;border-right:1px solid #ddd;}
.navBox li{display:block;list-style:none;}
.navBox li a{display:block;padding:10px;text-align:left;color:blue;font-family:arial;font-size:13.3px;text-decoration:none;
border-bottom-width:1px;border-bottom-style: solid;border-top-width:1px;border-top-style: solid;
border-top-color:transparent;border-bottom-color:transparent;}
.navBox li a label{display:block;padding:7px 7px 0px 7px;font-weight:bolder;}
.navBox li a:hover{background-color:#7996cd;border-bottom-color:#3f64a9;border-top-color:#3f64a9;color:#fff;}
#myData{position:absolute;left:26%;top:0;width:74%;overflow-y:auto;}
#myData li{display:block;list-style:none;padding:15px 0 15px 0;border-bottom:1px solid #ddd;font-family:arial;font-size:13.2px;
  margin:3px;text-align:left;position:relative;}
  #myData button{position:absolute;right:10px;top:10px;width:30px;height:30px;border:1px solid #ddd;
    background:#ddd url(@routes.Assets.at("images/like.png")) no-repeat center;background-size: 30px;}
.navBox div{padding:3px;}












</style>
