@(data:String)

<style>

</style>
<script>
var form = $("#formA");
var allInput = form.querySelectorAll(".form-input");

var lin = $("#batme");
lin.onclick = function(){
	show($("#madona"));
}
blurer( allInput );

submiter( form ,function(res){
  var liclick = $(".active");
  liclick.click();
});
</script>
<div align="left"style="position:relative;z-index:5;">
    @if( data == "private" ){
	   <button class="button"id="batme"> <add>+</add> Add New Private Project</button>
    }else{
      <button class="button"id="batme"> <add>+</add> Add New Public Project</button>
    }

	<div id="madona">
	<form class="loginForm"method="POST"action="@routes.Application.regPro()"id="formA"enctype="multipart/form-data">
	<div id="h"><h1>Register</h1> new project form</div>
  
       <br/>
   <div class="form-group">
        <span></span>
        <select class="form-input" name="depart"  id="Dep_Text">
          <option value=""></option>
          @for( p <- Department.all() ){
            <option value="@p.id">@p.departmentName</option>
          }
        </select>
        <label for="Dep_Text" class="animated-label">Project Category Select</label>
      </div>
	<br/>
	 <div class="form-group">
      	<span></span>
        <input type="text" class="form-input" name="names"  id="F_Text"/>
        <label for="F_Text" class="animated-label">Enter Project name</label>
      </div>
<br/>
	 <div class="form-group">
      	<span></span>
        <select class="form-input" name="developer"  id="P_Text"/>
        	<option value=""></option>
        	@for( p <- Users.allD() ){
        		<option value="@p.id">@p.username</option>
        	}
    	</select>
        <label for="P_Text" class="animated-label">Enter Project Developer</label>
      </div>
      <br/>
	 <div class="form-group">
      	<span></span>
        <input type="text" class="form-input" name="link"  id="De_Text"/>
        <label for="De_Text" class="animated-label">Project Demo Links</label>
      </div>
      <br/>
   <div class="form-group">
        <span></span>
        <textarea class="form-input" name="details"  id="DeT_Text">
        </textarea>
        <label for="DeT_Text" class="animated-label">Project Details</label>
      </div>
      <br>
      @if( data == "private" ){
        <input type="hidden"value="0"name="done">
      }else{
        <input type="hidden"value="1"name="done">
      }
      <a href="#"id="forgot"onclick="this.querySelector('input').click()">
      	<input type="file"name="photo"style="display:none;"onchange="change(this);"/>Add Project Icon?
      	<span id="small"></span>
      </a>
      <div id="buttonHandle">
        <a href="#"id="moreX"onclick="hide($('#madona'))">Close This Form!?</a><input type="submit"name="first"value="Register"id="meBut"/>
      </div>

</form>
</div>


</div>

<div id="table">

<div id="tableHeader">List of All Available Projects and their Categories</div>

<div id="tableContent">

<table>

<thead>
<td>Project Logo</td>
<td>Project Name</td>
<td>Project Developer</td>
<td>Project Category</td>
<td>Project Details</td>
<td>Demo Link</td>
<td>Delete</td>
<td>Update</td>
<td>Assign subTasks</td>
</thead>

<tbody>

@for( i <- Projects.allC(data)){
	<tr>
    <td><span id="myImage"><img src="assets/upload/@i.projectLogo"></span></td>
		<td>@i.projectName</td>
		<td>@i.developer.username</td>
		<td>@i.depart.departmentName</td>
    <td>@i.projectDetails</td>
		<td>@i.projectLink</td>
		<td><button id="delete"onclick="deleter(this);"value="@routes.Application.delete(i.id,"proj")"></button></td>
		<td><button id="update"onclick="update(this)"value="@routes.Application.update(i.id,"pro")"></button></td>
    <td><button id="update"onclick="update(this);"value="@routes.Application.update(i.id,"assign")"></button></td>
	</tr>
}

</tbody>


</table>

</div>

</div>