
<style>

</style>
<script>
var form = $("#formA");
var allInput = form.querySelectorAll(".form-input");

var lin = $("#batme");
lin.onclick = function(){
	show($("#madona"));
}
blurer( allInput );

submiter( form ,function(res){
  var liclick = document.querySelector(".active");
  liclick.click();
});
</script>
<div align="left"style="position:relative;z-index:5;">
	<button class="button"id="batme"> <add>+</add> Add New Task</button>

	<div id="madona">
	<form class="loginForm"method="POST"action="@routes.Application.addTask()"id="formA">
	<div id="h"><h1>Register</h1> new task on project</div>
	<br/>
	 <div class="form-group">
      	<span></span>
        <input type="text" class="form-input" name="names"  id="F_Text"/>
        <label for="F_Text" class="animated-label">Enter Task name</label>
      </div>
<br/>
	 <div class="form-group">
      	<span></span>
        <input type="number" class="form-input" name="complete"  id="T_Text"/>
        <label for="T_Text" class="animated-label">Enter Task Completion(%)</label>
      </div>
<br/>
	 <div class="form-group">
      	<span></span>
        <select class="form-input" name="owner"  id="P_Text"/>
        	<option value=""></option>
        	@for( p <- Users.allD() ){
        		<option value="@p.id">@p.username</option>
        	}
    	</select>
        <label for="P_Text" class="animated-label">Enter Task Owner</label>
      </div>
      <br/>
	 <div class="form-group">
      	<span></span>
        <select class="form-input" name="project"  id="Dep_Text">
        	<option value=""></option>
        	@for( p <- Projects.all() ){
        		<option value="@p.id">@p.projectName</option>
        	}
        </select>
        <label for="Dep_Text" class="animated-label">Project Select</label>
      </div>
      <br/>
      <div id="buttonHandle">
        <a href="#"id="moreX"onclick="hide($('#madona'))">Close This Form!?</a><input type="submit"name="first"value="Register"id="meBut"/>
      </div>

</form>
</div>


</div>

<div id="table">

<div id="tableHeader">List of All Available Tasks and their Projects</div>

<div id="tableContent">

<table>

<thead>
<td>id</td>
<td>Task Name</td>
<td>Task Owner</td>
<td>Complete Level</td>
<td>Project's Task</td>
<td>Delete</td>
<td>Update</td>
</thead>

<tbody>

@for( i <- Tasks.all()){
	<tr>
		<td>@i.id</td>
		<td>@i.taskName</td>
		<td>@i.owner.username</td>
		<td>@i.complete%</td>
		<td>@i.proj.projectName</td>
		<td><button id="delete"onclick="deleter(this);"value="@routes.Application.delete(i.id,"tasks")"></button></td>
		<td><button id="update"></button></td>
	</tr>
}

</tbody>


</table>

</div>

</div>