@(cov:Covered)


<script>
var form = $(".super-f");

submiter( form , function(data){
	hip( $(".updateBox") );
	$(".active").click();
});

</script>
<div class="super-form">

	<form action="@routes.Application.updateCovered()"method="POST"class="super-f"enctype="multipart/form-data">
<input type="hidden"value="@cov.id"name="id">
<div class="super-group">
	<input value="@cov.amount"type="number"class="super-input"name="amount">
</div>

</div>

<div class="super-group">
<button type="submit"class="super-button">Update</button>
</div>

</form>

</div>
