@(cash:Cashout)


<script>
var form = $(".super-f");

submiter( form ,function(data){
	hip( $(".updateBox") );
	$(".active").click();
});

</script>
<div class="super-form">

	<form action="@routes.Application.updateCashout()"method="POST"class="super-f"enctype="multipart/form-data">
<input type="hidden"value="@cash.id"name="id">
<div class="super-group">
	<input value="@cash.sendto"type="text"class="super-input"name="sendto">
</div>
<div class="super-group">
	<input value="@cash.amount"type="number"class="super-input"name="amount">
</div>

<div class="super-group">
	<textarea type="text"class="super-input"name="details"style="height:70px;">
		@cash.motif
	</textarea>
</div>

<div class="super-group">
<button type="submit"class="super-button">Update</button>
</div>

</form>

</div>
